.listH {
  margin:0!important;
  max-height: 282px!important;
  min-height: 282px!important;

}

.option{
  height: 80px;
}

.main {
	font-family: 'Knewave', cursive;
	font-size : 72px;

}




.title {
  //font-size: 17px;
  text-transform: capitalize;
  
}

.left {
  font-size: 12px;
}

/*md-card {
	color: rgb(255, 255, 255);
	background-color: rgb(255, 152, 0);
}


.md-headline {

	color: rgb(158, 94, 0);
}

*/
